/* set nav background color */
.navbar {
    background-color: #E9E9E9; 
}
/* set container display item to center */
.content{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* set style to cat world */
.header{
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 35px;
}
/* set size for image */
img{
    height: 550px;
    width: auto;
}
